body {
    background-color: #F8F8F8;
}

.col-3 {
    flex: 0 0 auto;
    width: 40%;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-top: 40px;
}

@media (min-width:768px) {
    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
        

    }
}

