body {
  background-color: #F8F8F8;
}

.col-3 {
  flex: 0 0 auto;
  width: 40%;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 40px;
}

@media (min-width:768px) {
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
}

.title {
  font-weight: bold;
}

.subtitle {
  color: #555;
}

.rating {
  border: #2f2baf;
  font-size: 1.6em;
}

.rating input {
  display: none;
}

.rating label {
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  font-size: 2em;
}

.rating label:hover {
  color: blue;
}

button {
  padding: 10px 20px;
  background-color: #838c83;
  color: rgb(16, 16, 16);
  border: 2px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #d4d2e8;
}

#related {
  display: flex;
  flex-direction: row;
  gap: 18px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#related img {
  height: 200px;
  border-radius: 8px;
}
